<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <style type="text/css">
 table,th,tr,td{
    /* border:1px ; */
    /* border-solid; */
    background-color:  #ffffff; 
    border-collapse: collapse;
    padding:2px;
    /* padding-left: 10px; */
}
.table1{
    width: 100%;
    /* margin-left:auto; */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    /* border:none; */
}
.table2{
    width: 100%;
    margin-left:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    background-color:  rgba(255,255,255,0.9);
    border:1px solid black;
}
.table3{
    width: 100%;
    margin-left:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    background-color:  rgba(255,255,255,0.9);
    border:1px solid black;
}
#qr{
    height: 120px;
}
.layout{
    display: none;
}
#main{
    height: 100px;
}
span{
    display: block;
    text-align: center;
}
#th1{
    width:150px;
    height: 120px;
}
.head{
    font-size: 16px;
    text-align: left;
    padding-top: 7px;
}
.tb_cont{
    font-size: 16px;
    text-align: left;
    padding-top: 7px;
}
.tb_cont span{
    display: block;
    text-align: left;
}
.headl{
    margin-left: 0px;
    /* width:400px; */
    /* padding:8px; */
}
.sig{
    padding-top: 80px;
    padding-right:20px;
    float:right;
    border:none;
}
.head1{
    height: 100px;
}
.sig2{
    float:right;
    padding-right:30px;
}
.auth{
    float:right;
    padding-right: 30px;
}
#end{
    font-size: 20px;
    font-weight: bold;
}
.table4{
    width:100%;
}
.col2{
    font-weight: bold;
    font-weight:700;
    font-size: 80px;
}
.sign_img{
    width:300px !important;
}
.qr_img{
    width:200px !important;
}

    @page {
        size: a4 portrait;
        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_content;
            left: 50pt; width: 512pt; top: 50pt; height: 159pt;
        }
        @frame content_frame {          /* Content Frame */
            left: 50pt; width: 512pt; top: 150pt; height: 632pt;
        }

        @frame footer_frame {           /* Another static Frame */
            -pdf-frame-content: footer_content;
            left: 50pt; width: 512pt; top: 792pt; height: 20pt;
        }
    }
    </style>
</head>

<body>
    <!--<table class="table1">
         <tr class="layout">
            <th id="th1"><img src="{{logo1}}" width="70" /></th>
            <th id="col2">TIGRAM</th>
            <th></th>
            <th id="th1"><img src="{{logo1}}" width="70" /></th>
        </tr> 
         <tr id="main">
              <th id="th1"><img src="{{logo1}}" /></th>
            <th id="col2"   style="font-size: 30px;" >TIGRAM</th>
            <!-- <th></th>
            <th id="th1"><img src="{{logo2}}" /></th>

        </tr>
    </table>-->
    <!-- <table class="table2">
        <tr id="qr">
            <td colspan="4"></td>
        </tr>
    </table> -->
    <div id="header_content" >
 
        <table class="table1" style="margin:0px; padding:0px;">
  
         
         <tr id="main" style="display:flex; justify-content:space-between; margin:0px; padding:0px;">
                            <td style="width:33.33%; text-align:left;" id="th1"><img src="{{logo1}}" width="180px" height="70px" style="width:180px; height:90px"/></td>
           
            <td   style="width:33.33%; text-align:center;" id="col2"><img src="{{logo4}}" width="190px" height="40px" style="width:190px; height:40px;" /></td>
            <td style="width:33.33%; text-align:right;" id="th1"><img src="{{logo2}}" width="120px" height="80px" style="width:120px; height:80px;" /></td>

        </tr>
    </table>
    

    <!-- <h1 style="font-size:20px;margin-top: 5px;margin-left: 0px; margin-bottom: 0px;">Title</h1>
 <hr style="margin-top: 0px;"> 
      <table style="font-size:16px;" >
        <tr>
            <th style="text-align: left;">Application No</th>
            <td style="text-align: left;">{{application.0.application_no}}</td>
            
            
        </tr>
        <tr>
          <th style="text-align: center;">Applicant Name</th>
          <td style="text-align: center;">{{application.0.name}}</td>
          
         
        </tr>
        
        <tr>
<th style="text-align: right;">Date of Application</th>
          <td style="text-align: right;">{{application.0.created_date}}</td>
         
        </tr>
            <br>-->
            
    <!--<h1 style="font-size:20px;margin-top: 25px;margin-left: 0px;">Revenue Department:</h1>-->
<hr width="100%" color="#012a6c" size="5" style="margin:0px; padding:0px;" />
<hr width="100%" color="#c4113b" size="5" style="margin:0px; padding:0px;" />
</div>
<div id="content_frame">
    <br>
    <h1 style="font-size: 30px; font-weight: bold; margin-bottom: 0px; margin-top: 15px; color: #c4113b; text-align:center;"">User Report</h1>
    <table style="margin-left: 30px;margin-right: 30px;width:150px;border:1px solid rgb(231, 228, 228);">
          <tr>
            <td class="head" style="border-spacing: 0px;"><p style="font-weight:lighter;color:#615f5f;">Application No:</p></td>
            <!-- <td class="tb_cont"><span>Akash{{application.0.name}}</span></td> -->
            <td class="tb_cont"><p style="font-weight:bold; color:#012a6c;">{{application.0.application_no}}</p></td>
        
        {% if is_transitpass == 'Not Generated' %}
        <td>{{is_transitpass}}</td>
        {% else %}
        <td rowspan="4" style="text-align: center;"><p style="font-size:16px;margin-top:5px;font-weight:lighter;color:#615f5f;">QrCode:</p><img class="qr_img" src="data:image/png;base64,{{qrrr}}" width="150px" /></td>        
        {% endif %}
            <!--<td class="tb_cont" rowspan="3"><img class="qr_img" src="data:image/png;base64,{{qrrr}}" /></td>-->
          
        </tr>
        <tr>
            <td class="head"><p style="font-weight:lighter;color:#615f5f;">Applicant Name:</p></td>
            <td class="tb_cont"><p style="font-weight:bold; color:#012a6c;">{{application.0.name}}</p></td>
        </tr>
        <!-- <tr>
            <td class="head">Destination Address:</td>
            <td class="tb_cont"><span>{{applications.0.name}}</span></td>
        </tr> -->
        <tr>
            <td class="head"><p style="font-weight:lighter;color:#615f5f;">Date of Application:</p></td>
                <td class="tb_cont"><p style="font-weight:bold; color:#012a6c;">{{application.0.created_date}}</p></td>
        </tr>

      <tr>
        <td class="head" style="border-spacing: 0px;"><p style="font-weight:lighter;color:#615f5f;">Transit Pass Id:</p></td>
        <td class="tb_cont" ><p style="font-weight:bold; color:#012a6c;">{{transitpass.id}}</p></td>
      
    </tr>

      </table>
      <br>
    <h1 style="font-size: 20px; font-weight: bold; margin-bottom: 0px; margin-top: 10px; color: #c4113b; padding-left:10px;">Revenue Department:</h1>

    <table style="margin-left: 30px;margin-right: 30px;width:150px;border:1px solid rgb(231, 228, 228);">
          <tr>
            <td class="head" style="border-spacing: 0px;"><p style="font-weight:lighter;color:#615f5f;">Revenue Officer:</p></td>
            <!-- <td class="tb_cont"><span>Akash{{application.0.name}}</span></td> -->
            <td class="tb_cont"><span style="font-weight:bold; color:#012a6c;">{{approved_names.0.approved_by_revenue__name}}</span></td>
            <!-- <td class="tb_cont"><span>Rakesh Roshan</span></td>-->
          
        </tr>
        <tr>
            <td class="head"><p style="font-weight:lighter;color:#615f5f;">Date of Verification:</p></td>
            <td class="tb_cont"><p style="font-weight:bold; color:#012a6c;">{{application.0.verify_office_date}}</p></td>
        </tr>
        <!-- <tr>
            <td class="head">Destination Address:</td>
            <td class="tb_cont"><span>{{applications.0.name}}</span></td>
        </tr> -->
        <tr>
            <td class="head"><p style="font-weight:lighter;color:#615f5f;">Status:</p></td>
                <!--<td class="tb_cont"><p style="font-weight:bold; color:#012a6c;">{% if application.0.verify_office  %}{% ifequal application.0.application_status 'R' %}Rejected{% else %}Approved{% endifequal %}{% else %}Not Approved{% endif %}</p></td>-->
                <td class="tb_cont"><p style="font-weight:bold; color:#012a6c;">
                {% if application.0.verify_office  %}
                    {% ifequal application.0.application_status 'R' %}
                    Rejected {{application.0.disapproved_by_grp}}
                    {% else %}
                    Approved
                    {% endifequal %}
                {% else %}
                    Not Approved
                {% endif %}
                </p></td>
        </tr>
        <tr>
            <td class="head"><p style="font-weight:lighter;color:#615f5f;">Remarks:</p></td>
            <td class="tb_cont"><p style="font-weight:bold; color:#012a6c;">
            {% ifequal application.0.application_status 'R' %}
              {{application.0.disapproved_reason}}
            {% else %}
            {{application.0.reason_office}}
            {% endifequal %}</p></td>
        </tr>
      </table>
<br>
    <h1 style="font-size: 20px; font-weight: bold; margin-bottom: 0px; margin-top: 15px; color: #c4113b; padding-left:10px;">Forest Department:  </h1>
    <table style="margin-left: 30px;margin-right: 30px;width:150px;border:1px solid rgb(231, 228, 228);">
        <tr>
          <td class="head" style="border-spacing: 0px;"><p style="font-weight:lighter;color:#615f5f;">Forest Range Officer: (Pre-Verification) </p></td>
          <!-- <td class="tb_cont"><span>Sahil{{applications.0.name}}</span></td> -->
          <td class="tb_cont"><p style="font-weight:bold; color:#012a6c;">{{approved_names.0.approved_by__name}}</p></td>      
      </tr>
      <tr>
          <td class="head"><p style="font-weight:lighter;color:#615f5f;">Date of Verification/Inspection:</p></td>
          <td class="tb_cont"><p style="font-weight:bold; color:#012a6c;">{{application.0.range_officer_date}}</p></td>
      </tr>

      <tr>
          <td class="head"><p style="font-weight:lighter;color:#615f5f;">Status:</p></td>
              <td class="tb_cont"><p style="font-weight:bold; color:#012a6c;">{% if application.0.verify_range_officer %}{% ifequal application.0.application_status 'R' %}Rejected {{application.0.disapproved_by_grp}}{% else %}Approved{% endifequal %}{% else %}Not Approved{% endif %}</p></td>
      </tr>
      <tr>
          <td class="head"><p style="font-weight:lighter;color:#615f5f;">Remarks:</p></td>
          <td class="tb_cont"><p style="font-weight:bold; color:#012a6c;">
                    {% comment %} {% ifequal application.0.application_status 'R' %}
              {{application.0.disapproved_reason}}
            {% else %}
              {{application.0.reason_range_officer}}
            {% endifequal %} {% endcomment %}
                    
            {{application.0.range_1_text}}
                    </p></td>
      </tr>
    </table>
    
    <table style="margin-top: 90px;margin-left: 30px;margin-right: 30px;width:150px;border:1px solid rgb(231, 228, 228);">
        <tr>
          <td class="head" style="border-spacing: 0px;"><p style="font-weight:lighter;color:#615f5f;">Deputy Range Officer:</p></td>
          <!-- <td class="tb_cont"><span>Sahil{{applications.0.name}}</span></td> -->
          <td class="tb_cont"><p style="font-weight:bold; color:#012a6c;">{{approved_names.0.approved_by__name}}</p></td>      
      </tr>
      <tr>
          <td class="head"><p style="font-weight:lighter;color:#615f5f;">Date of Verification/Inspection:</p></td>
          <td class="tb_cont"><p style="font-weight:bold; color:#012a6c;">{{application.0.range_officer_date}}</p></td>
      </tr>

      <tr>
          <td class="head"><p style="font-weight:lighter;color:#615f5f;">Status:</p></td>
              <td class="tb_cont"><p style="font-weight:bold; color:#012a6c;">{% if application.0.verify_range_officer %}{% ifequal application.0.application_status 'R' %}Rejected {{application.0.disapproved_by_grp}}{% else %}Approved{% endifequal %}{% else %}Not Approved{% endif %}</p></td>
      </tr>
      <tr>
          <td class="head"><p style="font-weight:lighter;color:#615f5f;">Remarks:</p></td>
          <td class="tb_cont"><p style="font-weight:bold; color:#012a6c;">
                    {% comment %} {% ifequal application.0.application_status 'R' %}
              {{application.0.disapproved_reason}}
            {% else %}
              {{application.0.reason_range_officer}}
            {% endifequal %} {% endcomment %}
            {{application.0.deputy_verify_text}}
                    
                    </p></td>
      </tr>
    </table>
   
    {% comment %} <br><br><br><br> {% endcomment %}
    <table style="margin-top: 30px; margin-left: 30px;margin-right: 30px;width:150px;border:1px solid rgb(231, 228, 228);">
        <tr>
          <td class="head" style="border-spacing: 0px;"><p style="font-weight:lighter;color:#615f5f;">Forest Range Officer: (Post-Verification) </p></td>
          <!-- <td class="tb_cont"><span>Sahil{{applications.0.name}}</span></td> -->
          <td class="tb_cont"><p style="font-weight:bold; color:#012a6c;">{{approved_names.0.approved_by__name}}</p></td>      
      </tr>
      <tr>
          <td class="head"><p style="font-weight:lighter;color:#615f5f;">Date of Verification/Inspection:</p></td>
          <td class="tb_cont"><p style="font-weight:bold; color:#012a6c;">{{application.0.range_officer_date}}</p></td>
      </tr>

      <tr>
          <td class="head"><p style="font-weight:lighter;color:#615f5f;">Status:</p></td>
              <td class="tb_cont"><p style="font-weight:bold; color:#012a6c;">{% if application.0.verify_range_officer %}{% ifequal application.0.application_status 'R' %}Rejected {{application.0.disapproved_by_grp}}{% else %}Approved{% endifequal %}{% else %}Not Approved{% endif %}</p></td>
      </tr>
      <tr>
          <td class="head"><p style="font-weight:lighter;color:#615f5f;">Remarks:</p></td>
          <td class="tb_cont"><p style="font-weight:bold; color:#012a6c;">
                    {% comment %} {% ifequal application.0.application_status 'R' %}
              {{application.0.disapproved_reason}}
            {% else %}
              {{application.0.reason_range_officer}}
            {% endifequal %} {% endcomment %}
            {{application.0.range_2_text}}     
                    
                    </p></td>
      </tr>
    </table>
</div>
 
  <div id="footer_content">Page <pdf:pagenumber>
        of <pdf:pagecount>
    </div>
</body>

</html>