<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="summaryreport.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <table>
        <tr class="layout">
            <th id="th1">icon</th>
            <th id="col2">main header</th>
            <th id="th1">icon2</th>
        </tr>
        <table class="table" style="width:100% ;">
            <tr>
                <th class="app1">Sr.No</th>
                <th class="app">Application ID</th>
                <th class="app">Applicant Name</th>
                <th class="app">Status</th>
                <th class="app">Remark</th>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>7</td>
                <td>8</td>
            </tr>
        </table>
    </table>
</body>

</html>