<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');


body{
font-family: 'Cairo', sans-serif;
background:#ccc;
}

</style>


</head>

<body style="background:#ccc; padding:0px; margin:0px;">
	<table style="width:700px; margin-left:calc(50% - 350px); padding:0px; background-color:#fff; margin-top:40px;  border-collapse: collapse; margin-bottom:40px;">
	<thead><tr style="display:flex; justify-content:space-between; align-items:center; padding:5px 10px; border-bottom:5px solid #012a6c;"><td><img src="{{logo1}}" width="150"></td><td><img src="tigram_logo03.png" width="150"></td><td><img src="{{logo2}}" width="100"></td></tr></thead>
	<tbody style="border-top:5px solid #c4113b; display:block; margin-top:-2px; padding:0px 20px">
	

	
	
		<tr style="margin-bottom:0px; padding-top:10px; display:block;"><td style="font-size: 20px; font-weight: bold; margin-bottom: 0px; margin-top: 15px; color: #c4113b; padding-left:10px;">User Details:</td></tr>
	<tr style="display:flex; width:100%; padding:0px 10px; "><td style="border:1px solid #ccc; padding:0px 10px; min-width:35%; ">Name:</td><td style="border:1px solid #ccc; padding:0px 10px; min-width:56%; font-weight:bold; color:#012a6c;">{{application.0.name}}</td></tr>
	<tr style="display:flex; width:100%; padding:0px 10px; "><td style="border:1px solid #ccc; padding:0px 10px; min-width:35%">Address:</td><td style="border:1px solid #ccc; padding:0px 10px; min-width:56%; font-weight:bold; color:#012a6c;">Kerala</td></tr>
	<tr style="display:flex; width:100%; padding:0px 10px; "><td style="border:1px solid #ccc; padding:0px 10px; min-width:35%">Destination Address:</td><td style="border:1px solid #ccc; padding:0px 10px; min-width:56%;font-weight:bold; color:#012a6c;">Mumbai</td></tr>
	<tr style="display:flex; width:100%; padding:0px 10px; "><td style="border:1px solid #ccc; padding:0px 10px; min-width:35%">List showing the species of tree or<br/> trees proposed to be cut,etc:</td><td style="border:1px solid #ccc; padding:0px 10px; min-width:56%;font-weight:bold; color:#012a6c;">Teak (Tectona grandis)</td></tr>
	<tr style="display:flex; width:100%; padding:0px 10px;"><td style="border:1px solid #ccc; padding:0px 10px; min-width:35%">Validity of pass:</td><td style="border:1px solid #ccc; padding:0px 10px; min-width:56%;font-weight:bold; color:#012a6c;">06-04-2021</td></tr>
	<tr style="display:flex; width:100%; padding:0px 10px;"><td style="border:1px solid #ccc; padding:0px 10px; min-width:35%">Place:</td><td style="border:1px solid #ccc; padding:0px 10px; min-width:56%;font-weight:bold; color:#012a6c;">Kerala</td></tr>
	<tr style="display:flex; width:100%; padding:0px 10px; "><td style="border:1px solid #ccc; padding:0px 10px; min-width:35%">Date:</td><td style="border:1px solid #ccc; padding:0px 10px; min-width:56%;font-weight:bold; color:#012a6c;">2021-03-30</td></tr>
	<tr style="display:flex; width:100%; padding:0px 10px; margin-bottom:20px;"><td style="border:1px solid #ccc; padding:0px 10px; min-width:35%">Signature of Applicant:<br/>
	<img src="signature_ph.jpg">
	</td><td style="border:1px solid #ccc; padding:0px 10px; min-width:56%;font-weight:bold; color:#012a6c;">QR Code <br/>
	<img src="barcode_ph.jpg">
	</td></tr>
	
	
	
	<tr style="margin-bottom:10px; margin-top:20px;"><td style="font-size: 20px; font-weight: bold; margin-bottom: 7px; margin-top: 15px; color: #c4113b; padding-left:10px;">Volume Descriptions</td></tr>
	
	<tr style="display:flex; width:100%; padding:0px 10px; "><td style="border:1px solid #ccc; padding:0px 10px; min-width:35%; ">Sr. No.</td><td style="border:1px solid #ccc; padding:0px 10px; min-width:56%; font-weight:bold; color:#012a6c;">11</td></tr>
	<tr style="display:flex; width:100%; padding:0px 10px; "><td style="border:1px solid #ccc; padding:0px 10px; min-width:35%">Number of Log:</td><td style="border:1px solid #ccc; padding:0px 10px; min-width:56%; font-weight:bold; color:#012a6c;">12</td></tr>
	<tr style="display:flex; width:100%; padding:0px 10px; "><td style="border:1px solid #ccc; padding:0px 10px; min-width:35%">Species of Log:</td><td style="border:1px solid #ccc; padding:0px 10px; min-width:56%;font-weight:bold; color:#012a6c;">Teak (Tectona grand is)</td></tr>
	<tr style="display:flex; width:100%; padding:0px 10px; margin-bottom:25px"><td style="border:1px solid #ccc; padding:0px 10px; min-width:35%">
Volume:</td><td style="border:1px solid #ccc; padding:0px 10px; min-width:56%;font-weight:bold; color:#012a6c;">14</td></tr>


<tr style="margin-bottom:10px; margin-top:20px;"><td style="font-size: 20px; font-weight: bold; margin-bottom: 7px; margin-top: 15px; color: #c4113b; padding-left:10px;">Title</td></tr>
	
	<tr style="display:flex; width:100%; padding:0px 10px; "><td style="border:1px solid #ccc; padding:0px 10px; min-width:35%; ">Place:</td><td style="border:1px solid #ccc; padding:0px 10px; min-width:56%; font-weight:bold; color:#012a6c;">Kerala</td></tr>
	<tr style="display:flex; width:100%; padding:0px 10px; "><td style="border:1px solid #ccc; padding:0px 10px; min-width:35%">Date:</td><td style="border:1px solid #ccc; padding:0px 10px; min-width:56%; font-weight:bold; color:#012a6c;">-</td></tr>
	<tr style="display:flex; width:100%; padding:0px 10px; margin-bottom:25px "><td style="border:1px solid #ccc; padding:0px 10px; min-width:35%">Authorized Officer:</td><td style="border:1px solid #ccc; padding:0px 10px; min-width:56%;font-weight:bold; color:#012a6c;">-</td></tr>
	
	</tbody>
	</table>
</body>

</html>