@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

*{
	margin:0px;
	padding:0px;
}
/*body{
	font-family: 'Cairo', sans-serif;
}*/
.hide{
	display:none !important;
}
table,th,tr,td{
    border:1px solid #000000; 
    border-collapse: collapse;
    padding:2px;
    padding-left: 10px;
}
.table1{
    width: 100%;
    margin-left:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
  
    height: 100px;
}
.table1 th{
	width:33.33%;
}
.table1 #col2{
	font-size:40px;
	    color: #9d9f9e;
}

.table2{
    width: 100%;
    margin-left:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
  
}

.head{
    width:400px;
    padding:10px;
}

.table2 td{
	border:1px solid #ccc;	
}
.table2 .head{
	width:33.33%;
	border:1px solid #ccc;
	
}
.table2 tr:nth-child(odd){
	background:#f1f1f1;
}
.table2 tr:nth-child(even){
	background:#f8f8f8;
}

span{
    display: block;
    text-align: center;
}

.table3{
    width:100%;
}
.table3 thead{
	background:#efefef;
}
.table4{
    width: 100%;
}

.img{
        width:400px;
        padding:60px;
}

.sig{
    padding-top: 80px;
    padding-right:20px;
    float:right;
    border:none;
}

input[type=text], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .btn{
    background-color: rgb(37, 214, 37);
    border:none;
    padding:5px 10px;
    text-align: center;
	font-size:14px;
	cursor:pointer;
	box-shadow:1px 1px 2px #222;
    }

.center1{
      text-align: center;
      display: block;
}

/*.nav{
	position:fixed;
	width:100%;
	background:#fff;
	display:flex;
	justify-content:space-between;
	padding:15px 10px;
	box-sizing:border-box;
	border-bottom:1px solid #ccc;
	z-index:10;
}
.nav a{
	text-decoration:none;
	color:#000;
}*/
.cont_sec{
	background-image: url('../images/form_01_bg.jpg');
    background-size: cover;
	background-attachment:fixed;
	padding-top:90px;
	padding-bottom:50px;
}
.cont_sec .wrap{
	width:80%;
	margin:auto;
	padding:12px 20px;
	padding-bottom:20px;
	background:#fff;
	box-sizing:border-box;

}
.approve_btn{
	background:#6174ff;
	color:#fff;
}
.reject_btn{
	background:#d73737;
	color:#fff;
}
.table3 td,.table3 th{
	padding:10px;
	text-align:center;
}
table,table td,table th,table tbody{
	border:1px solid #ccc;
}
.add_remarks{
	width:calc(100% - 140px) !important;
	    margin: 8px 0;
	margin-left:10px !important;
	border:1px solid #000 !important;
}


/*--------------- Image Gallery ---------------------*/

.img_gal{
	 box-sizing: border-box;
}
.row > .column {
  
   box-sizing: border-box;
   position:relative;
}
.img_gal .column .txt{
	position:absolute;
	left:0px;
	bottom:0px;
	color:#fff;
	font-size:20px;
	width:calc(100% - 20px);
	text-align:center;
	padding:7px 10px;
	background:rgba(0,0,0,0.5);
}
.img_gal .column img{
  width: 100% !important; 

}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: calc(25% - 20px);
  margin:10px;
  height: 300px;
  overflow: hidden;
  box-sizing: border-box;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 40px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  	z-index:100;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  position:absolute;
	left:0px;
	top:0px;
	color:#fff;
	font-size:20px;
	width:calc(100% - 20px);
	text-align:center;
	padding:7px 10px;
	background:rgba(0,0,0,0.5);
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}