{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body class="body">
  
    <div class="container1">
        <div class="change">
            <label ><b>CHANGE PASSWORD</b></label>
            <!-- <h1>{{email}}</h1> -->
        </div>
        <form action="{% url 'forgot_password' %}" method="POST">
            {% csrf_token %}
            <br>
            <br>
        <label for="email" id="email"><b>Email</b></label>
        <input type="email" placeholder="Enter Email" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"/><BR>
        <br>
            <button type="submit" class="save">Send OTP</button></form>
    
</form>
</body>

</html>