{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/forgotpassword.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Salsa' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'js/jquery-3.6.0.js' %}"></script>

</head>

<body class="body">
    <form action="{% url 'forgot_password' %}" method="POST">
    <div class="container1">
        <div class="change">
            <label><b>CHANGE PASSWORD</b></label>
        </div><br>
        <label for="email" id="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" id="email" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"><BR>
            OR<br><br>
            <label for="num" id="number"><b>Mobile Number</b></label>
        <input type="text" placeholder="Enter Mobile Number" name="number" required><BR>
        <button type="submit" class="save"><span> Send OTP</span> </button>
    </div>
</form>
</body>
<script type="text/javascript">
    // $(document).ready(function(){
    //     $('#email').
    // });
</script>

</html>