{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/form1.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'js/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'js/repeater.js' %}"></script>
    <style>
        #tab {
            display: none;
            color: #000;
            position: relative;
            padding: 10px;
            margin-top: 5px;
        }
        #veh {
            display: none;
            color: #000;
            position: relative;
            padding: 10px;
            margin-top: 5px;
        }
    </style>
</head>

<body>

    <form class="form" action="{% url 'application_form' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            <h1>Form 1</h1>

            <hr>
            <label for="uname"><b>Name:</b></label>
            <input type="text" placeholder="Enter your name" name="uname" required>
            <br>
            <br>
            <label for="add"><b>Address:</b></label>
            <input type="text" placeholder="Enter your address" name="add" required>
            <br>
            <br>
            <label for="sno"><b>Survey Number:</b></label>
            <input type="text" placeholder="Enter your survey number" name="sno" required>
            <br>
            <br>

            <label for="treep"><b>Trees proposed to be cut:</b></label>
            <input type="number" placeholder="Enter number of trees" name="treep" required>
            <br>
            <br>
            <label for="vil"><b>Village/Taluka/Block:</b></label>
            <input type="text" placeholder="Enter your Village/Taluka/Block" name="vil" required>
            <br>
            <br>
            <label for="dist"><b>District:</b></label>
            <input type="text" placeholder="Enter your District" name="dist" required>
            <br>
            <br>
            <label for="pro"><b>Proof of ownership:</b></label>
            <input type="file" id="myFile" name="ownership_proof_img">

            <br>
            <br>
            <b>Species of tree or trees proposed to be cut:</b><br>
            <!-- <input type="checkbox" id="s1" name="species1" class="chk_species" value="sp1">
            <label for="s1"> Sandal wood(Santalum album)</label><br> -->
            <input type="checkbox" id="s2" name="species2" class="chk_species" value="sp2">
            <label for="s2"> Teak(Tectona grandis)</label><br>
            <input type="checkbox" id="s3" name="species3" class="chk_species" value="sp">
            <label for="s3">Thempavu(Terminalia tomantosa)</label><br>
            <input type="checkbox" id="s4" name="species4" class="chk_species" value="sp4">
            <label for="s4">Kamoakam(Hopea Parviflora)</label><br>
            <input type="checkbox" id="s4" name="species4" class="chk_species" value="sp4">
            <label for="s4">Chadachi(Grewia tiliaefolia)</label><br>
            <input type="checkbox" id="s5" name="species5" class="chk_species" value="sp5">
            <label for="s5">Chandana vempu(Cedrela toona)</label><br>
            <input type="checkbox" id="s6" name="species6" class="chk_species" value="sp6">
            <label for="s6">Vellakil(Dysoxylum malabaricum)</label><br>
            <input type="checkbox" id="s7" name="species7" class="chk_species" value="sp7">
            <label for="s7">Irul(Xylia xylocarpa)</label><br>
            <input type="checkbox" id="s8" name="species8" class="chk_species" value="sp8">
            <label for="s8">Ebony(Diospyrus sp.)</label><br><br>
            <input type="hidden" name="tree_species" value="">
            <label for="propt"><b>Purpose for which trees or trees proposed to be cut:</b></label>
            <input type="text" placeholder="Enter Purpose for which trees or trees proposed to be cut" name="purpose_cut">
            <br><BR>
            <label for="s9"><b>Add Log Details</b></label><br>
            <input type="radio" onclick="myInput " id="yes" name="log_option" value="yes">
            <label for="yes">YES</label><br>
            <input type="radio" id="no" name="log_option" value="no">
            <label for="no">NO</label><br>


            <div id="tab">
                <table>
                    <tr>
                        <td>
                            SR.NO
                        </td>
                        <td>
                            LENGTH
                        </td>
                        <td>
                            BREADTH
                        </td>
                        <td>
                            VOLUME
                        </td>

                    </tr>
                    <tr>
                        <td><input type="float" placeholder=""></td>
                        <td><input type="text" placeholder="enter length of the log"></td>
                        <td><input type="text" placeholder="enter breadth of the log"></td>
                        <td><input type="text" placeholder="enter volume of the log"></td>
                        <td><button style="font-size:20px" onclick="myFunction()"><i
                                    class="fa fa-plus-square-o"></i></button></td>
                    </tr>
                </table>
            </div>
            <div class="items" data-group="test">
  <!-- Repeater Content -->
  <div class="item-content">
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Name</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputName" placeholder="Name" data-name="name">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
      <input type="text" class="form-control" id="inputEmail" placeholder="Email" data-skip-name="true" data-name="email">
      </div>
    </div>
  </div>
  <!-- Repeater Remove Btn -->
  <div class="pull-right repeater-remove-btn">
      <button id="remove-btn" class="btn btn-danger" onclick="$(this).parents('.items').remove()">
          Remove
      </button>
  </div>
</div>

<div id="repeater">
  <!-- Repeater Heading -->
  <div class="repeater-heading">
      <button class="btn btn-primary repeater-add-btn">
          Add
      </button>
  </div>
  <!-- Repeater Items -->
  <div class="items" data-group="test">
    <!-- Repeater Items Here -->
  </div>
</div>


            <script>
                $(function(){

  $("#repeater").createRepeater();

});
                $(document).ready(function(){
                   $('#yes').click(function(){
                    $('#tab').show();
                   });
                   $('#no').click(function(){
                      $('#tab').hide();  
                   });  
                });
                // var myInput = document.getElementById("yes");
                // var myInputn = document.getElementById("no")

                // myInput.onfocus = function () {
                //     document.getElementById("tab").style.display = "block";

                //     myInputn.onfocus = function () {
                //         document.getElementById("tab").style.display = "none";

                //         function myFunction() {
                //             document.getElementById("fa fa-plus-square-o").style.display = "block";
                //         }
                //     }
                // }
            </script><br>
            <label for="propt"><b>Revenue Application:</b></label>
            <input type="file" id="myFile1" name="revenue_application_img"><br><br>
            <label for="propt"><b>Revenue Approval:</b></label>
            <input type="file" id="myFile1" name="revenue_approval_img"><br><br>
            <label for="propt"><b>Declaration:</b></label>
            <input type="file" id="myFile2" name="declaration_img"><br><br>
            <label for="propt"><b>Location Sketch:</b></label>
            <input type="file" id="myFile3" name="location_sketch_img"><br><br>
            <label for="propt"><b>Tree Ownership Details:</b></label>
            <input type="file" id="myFile4" name="tree_ownership_img"><br><br>
            <label for="propt"><b>Adhar Card:</b></label>
            <input type="file" id="myFile5" name="aadhar_card_img"><br><br>
            <label for="sign"><b>Signature:</b></label>
            <input type="file" name="signature_img"><br><br>

            <label for="dest"><b>Destination Details:</b></label><br><br>
            <label for="Vehicle"><b>Enter Vehicle Details:</b></label><br>
            <input type="radio" onclick="myInput " id="y" name="option" value="yes">
            <label for="yes">YES</label><br>
            <input type="radio" id="n" name="option" value="no">
            <label for="no">NO</label><br>
            <div id="veh">
                <label for="veh_reg"><b>Vehicle Registration Number:</b></label>
                <input type="text" name="veh_reg" required>
                <label for="driver_name"><b>Name of the driver:</b></label>
            <input type="text" name="driver_name" required>
            <label for="phn"><b>Phone Number of the Driver:</b></label>
            <input type="text" name="phn" required>
            <label for="mode"><b>Mode of Transportation:</b></label>
            <input type="text" name="mode" required>
            <label for="lic_img"><b>License Image:</b></label>
            <input type="file" id="myFile" name="lic_img">
            </div>
            <script>
                function calVol(length,breadth)
                {
                    var volume = 3.14*length*breadth*breadth ;
                    return volume;
                }
                $(document).ready(function(){
                    
                });
                // var myInput = document.getElementById("y");
                // var myInputn = document.getElementById("n")

                // myInput.onfocus = function () {
                //     document.getElementById("veh").style.display = "block";

                //     myInputn.onfocus = function () {
                //         document.getElementById("veh").style.display = "none";

                //         function myFunction() {
                //             document.getElementById("fa fa-plus-square-o").style.display = "block";
                //         }
                //     }
                // }
            </script>
            <hr>
            <button type="submit" class="save">Save & Next</button>
        </div>


    </form>

</body>

</html>