{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/verification.css' %}" >
    <link href='https://fonts.googleapis.com/css?family=Salsa' rel='stylesheet'>
</head>

<body class="body">
    <h3>{{meessage}}</h3>
    <div class="container">
        <div class="off-login">
            <label><b>Set New Password</b></label>
        </div>
        
        <br>
        <form action="{% url 'newpassword' %}" method="POST">
            {% csrf_token %}
        <input type="password" placeholder="Enter new password" name="npass" id="npass" required>
        <input type="password" placeholder="Re-Enter new password" name="rnpass" id="rnpass" required>

  
        </br>
        
        <div><button type="submit" class="btn">Save</button> </div><br>

    </div>
    </form>

</body>
<script>
    var password = document.getElementById("npass")
  , confirm_password = document.getElementById("rnpass");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>
</html>