{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/viewapplication.css' %}">
	<!-- <link rel="stylesheet" href="css/viewapplication.css"> -->
    <!-- <link rel="stylesheet" href="css/dash.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'js/jquery-3.6.0.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-5.0.0-beta2-dist/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'bootstrap-5.0.0-beta2-dist/js/bootstrap.min.js' %}"></script> -->
	
	<style>
	.vd_head {
display:flex;
justify-content:space-between;
}
	.edit_btn {
    background: #efefef;
    padding: 5px 10px;
    cursor: pointer;
    box-shadow: 1px 1px 5px #ccc;
	border:1px solid #ccc;
}
.edit_btn:hover{
background:#000;
color:#fff;
}
.view_mode input{
background:transparent !important;
border:none !important;
} 
	</style>
</head>

<body>
    <nav class="nav">
        <a href="{% url 'officer_dashboard' %}" class="h6-button" id="icon"><i class="fa fa-chevron-circle-left"></i>&nbsp;&nbsp;Back</a>
            <div class="right">
                <a href="{% url 'user_logout' %}" class="h6-button" id="icon"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;Logout</a>
                <a href="{% url 'view_profile' request.user.id %}" class="h7-button"><i class="fa fa-user-circle fa-2x"></i></a>
            </div>
        </nav>
	<div class="cont_sec">	
		<div class="wrap">
    <table class="table1">
        <tr class="layout">
            <th id="th1"><img src="{% static 'images/TGRAM_LOGO.jpeg' %}"  width="40px" height="70px" /></th>
            <!-- <th id="th1">icon</th> -->
            <th id="col2">TIGRAM</th>
            <th id="th1"><img src="{% static 'images/default_logo.png' %}"  width="70px" height="70px" /></th>
            <!-- <th id="th1">icon</th> -->
        </tr>
    </table>
 
    <table class="table2">
        <tr>
            <td class="head">Name:</td>
            <td>{{applications.0.name}}</td>
        </tr>
        <tr>
            <td class="head">Address:</td>
            <td>{{applications.0.address}}</td>
        </tr>
        <tr>
            <td class="head">Survey No. and extent of the field or fields on which the tree or trees proposed to be
                cut,uprooted or burnt stand:</td>
            <td>{{applications.0.survey_no}}</td>
        </tr>
        <tr>
            <td class="head">Name of the Village/Taluka/Block and District where the land on which the tree or trees
                stand/lie:</td>
            <td>{{applications.0.village}}</td>
        </tr>
        <tr>
            <td class="head">Proof of ownership of the trees:</td>
            <td></td>
        </tr>
        <tr>
            <td class="head">List showing the species of tree or trees proposed to be cut,etc:</td>
            <td>{{applications.0.species_of_trees}}</td>
        </tr>
        <tr>
            <td class="head">Purpose for which trees are proposed to be cut,etc:</td>
            <td>{{applications.0.purpose}}</td>
        </tr>
        <tr>
            <td class="head">Details of generation proposed:</td>
            <td></td>
        </tr>
    </table>
	<br/>
	<br/>
    <div>
        <span id="center"><b>VOLUME DESCRIPTIONS</b></span>
        <br>
        <table class="table3">
            <thead>
                
            <tr>
                <th id="vol">Sr. No.</th>
                <th id="vol">Length</th>
                <th id="vol">Breadth</th>
                <th id="vol">Volume</th>
            </tr>
            </thead>
                <!-- <td>11</td>
                <td>12</td>
                <td>13</td>
                <td>14</td>

                {% for each in timber_log %} -->
            <tr>
                <td>{{forloop.counter }}</td>
                <td>{{each.length}}</td>
                <td>{{each.breadth}}</td>
                <td>{{each.volume}}</td>
            </tr>
                 <!--  {% endfor %} -->
            <tr>
                <td colspan="3" id="end"><b>Total</b></td>
                <td><b>144</b></td>
            </tr>
        </table><br><br><br>
		
		<div class="img_gal">
		<span id="center" style="text-transform:uppercase"><b>Attachments Gallery</b></span>
		<br/>
			<div class="row">
 <div class="column">
    <img  class="img-gallery1" src="{% static '/media/upload/proof_of_ownership/' %}{{ applications.0.proof_of_ownership_of_tree }}" style="width:100;" onclick="openModal();currentSlide(1)" class="hover-shadow cursor" />
   <div class="txt">Proof of Ownership</div>
  </div>
  <div class="column">
    <img  class="img-gallery1" src="{% static '/media/upload/revenue_application/' %}{{ image_documents.revenue_application }}" style="width:100;" onclick="openModal();currentSlide(2)" class="hover-shadow cursor" />
   <div class="txt">Revenue Application</div>
  </div>
  <div class="column">
    <img class="img-gallery1" src="{% static '/media/upload/revenue_approval/' %}{{ image_documents.revenue_approval }}" style="width:100;" onclick="openModal();currentSlide(3)" class="hover-shadow cursor" />
  <div class="txt">Revenue Approval</div>
  </div>
  <div class="column">
    <img class="img-gallery1" src="{% static '/media/upload/declaration/' %}{{ image_documents.declaration }}" style="width:100%" onclick="openModal();currentSlide(4)" class="hover-shadow cursor" />
  <div class="txt">Declaration</div>
  </div>
  <div class="column">
    <img class="img-gallery1" src="{% static '/media/upload/location_sketch/' %}{{ image_documents.location_sktech }}" style="width:100%" onclick="openModal();currentSlide(5)" class="hover-shadow cursor" />
  <div class="txt">Location Sketch</div>
  </div>
  <div class="column">
    <img class="img-gallery1" src="{% static '/media/upload/tree_ownership/' %}{{ image_documents.tree_ownership_detail }}"style="width:100%" onclick="openModal();currentSlide(6)" class="hover-shadow cursor" />
  <div class="txt">Tree Ownership Details</div>
  </div>
  <div class="column">
    <img class="img-gallery1" src="{% static '/media/upload/aadhar_card/' %}{{ image_documents.aadhar_detail }}" style="width:100%" onclick="openModal();currentSlide(7)" class="hover-shadow cursor" />
  <div class="txt">Photo Proof</div>
  </div>
</div>

<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">

    <div class="mySlides">
      <div class="numbertext">Proof of Ownership</div>
      <img src="{% static '/media/upload/proof_of_ownership/' %}{{ applications.0.proof_of_ownership_of_tree }}" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">Revenue Application</div>
      <img src="{% static '/media/upload/revenue_application/' %}{{ image_documents.revenue_application }}" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">Revenue Approval</div>
      <img src="{% static '/media/upload/revenue_approval/' %}{{ image_documents.revenue_approval }}" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">Declaration</div>
      <img src="{% static '/media/upload/declaration/' %}{{ image_documents.declaration }}" style="width:100%">
    </div>
    
    <div class="mySlides">
      <div class="numbertext">Location Sketch</div>
      <img src="{% static '/media/upload/location_sketch/' %}{{ image_documents.location_sktech }}" style="width:100%">
    </div>
  
  <div class="mySlides">
      <div class="numbertext">Tree Ownership</div>
      <img src="{% static '/media/upload/tree_ownership/' %}{{ image_documents.tree_ownership_detail }}" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">Photo Proof</div>
      <img src="{% static '/media/upload/aadhar_card/' %}{{ image_documents.aadhar_detail }}" style="width:100%">
    </div>
    
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <div class="caption-container">
      <p id="caption"></p>
    </div>


   
  </div>
</div>

<script>
function openModal() {
  document.getElementById("myModal").style.display = "block";
}

function closeModal() {
  document.getElementById("myModal").style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>
		</div>
		
		<br>
		
        <table class="table4 hide">
            <tr>
                <td class="img">Revenue Application:</td>
                <td><img src="{% static '/media/upload/revenue_application/' %}{{ image_documents.revenue_application }}"  width="30%" /></td>
            </tr>
            <tr>
                <td class="img">Revenue Approval:</td>
                <td><img src="{% static '/media/upload/revenue_approval/' %}{{ image_documents.revenue_approval }}"  width="30%" /></td>
            </tr>
            <tr>
                <td class="img">Declaration:</td>
                <td><img src="{% static '/media/upload/declaration/' %}{{ image_documents.declaration }}"  width="30%" /></td>
            </tr>
            <tr>
                <td class="img">Location Sketch:</td>
                <td><img src="{% static '/media/upload/location_sketch/' %}{{ image_documents.location_sktech }}"  width="30%" /></td>
            </tr>
            <tr>
                <td class="img">Tree Ownership Details:</td>
                <td><img src="{% static '/media/upload/tree_ownership/' %}{{ image_documents.tree_ownership_detail }}"  width="30%" /></td>
            </tr>
            <tr>
                <td class="img">Adhar Card:</td>
                <td><img src="{% static '/media/upload/aadhar_card/' %}{{ image_documents.aadhar_detail }}"  width="30%" /></td>
            </tr>
            <tr>
                <td class="head">Destination Details:</td>
                <td></td>
            </tr>
        </table>
        </div>
		<br>
		<br>
		<div class="vehicle_details">
            <div class="vd_head"><span id=""><b>VEHICLE DETAILS</b></span><div class="vd_head"> <span class="edit_btn" id="veh-cancel-btn">Cancel</span><span class="edit_btn" id="veh-edit-btn">Edit</span></div></div>
            <table class="table2 vd_form view_mode">
                <tr>
                    <td class="head">Vehicle Registration Number:</td>
                    <td><input type="text" value="{{vehicle.vehicle_reg_no}}" name="veh_reg" /></td>
                </tr>
                <tr>
                    <td class="head">Name of the driver:</td>
                    <td><input type="text" value="{{vehicle.driver_name}}" name="driver_name" /></td>
                </tr>
                <tr>
                    <td class="head">Phone Number of the Driver:</td>
					<td><input type="text" value="{{vehicle.driver_phone}}" name="phn" /></td>
                    
                </tr>
                <tr>
                    <td class="head">Mode of Transportation:</td>
                    <td><input type="text" value="{{vehicle.mode_of_transport}}" name="mode" /></td>
                </tr>
                <tr>
                    <td >License Image:<br>
						<img src="{% static '/media/upload/license/' %}{{ vehicle.license_image }}"  width="200px" />
					</td>
                    <td >Signature of Applicant:<br>
						<img src="{% static '/media/upload/signature/' %}{{ image_documents.signature_img }}"  width="200px" />
					</td>
                </tr>
               
            </table>
        </div>

        
        <form action="{% url 'update_vehicle' applications.0.id %}" id="contactForm1" method="POST">
    </form>
</div>
	</div>
</body>
<script type="text/javascript">

      function saveVehicle(){
       
    var veh_reg = $('input[name="veh_reg"]').val();
    var driver_name = $('input[name="driver_name"]').val();
    var phn = $('input[name="phn"]').val();
    var mode = $('input[name="mode"]').val();

    var token = '{{csrf_token}}';
    $.ajax({
            headers: { "X-CSRFToken": token },
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: {'veh_reg':veh_reg,
              'driver_name':driver_name,
              'phn':phn,
              'mode':mode
            },
            success: function (data) {
                // alert(data.message);
                $('#message').text(data.message);
                swal('TIGRAM',data.message);
                //alert(data.message);
                if (data.success){
                $(".vehicle_details").load(".vehicle_details");
    }
                // $('.couldapprove').hide();
                // console.log(data);
            },
            error: function (data) {
                // console.log('An error occurred.');
                swal('TIGRAM',data.message);
                //alert(data.message);
                // console.log(data);
            },
        });
    }
$(document).ready(function(){
  $('#veh-cancel-btn').hide();
  $('#veh-cancel-btn').click(function(){
    $(".vd_form").toggleClass("view_mode");
     $("#veh-edit-btn").text('Edit');
      $(".view_mode input").each(function(){
      $(this).attr('readonly',true);
    });
      $('#veh-cancel-btn').hide();
  });
   $(".vd_form input").each(function(){
      $(this).attr('readonly',true);
    });
  $("#veh-edit-btn").click(function(){
    if($("#veh-edit-btn").text()=='Save'){
    saveVehicle();
    }
    $(".vd_form").toggleClass("view_mode");
    if ($(".vd_form").hasClass("view_mode")){
    $(".view_mode input").each(function(){
      $(this).attr('readonly',true);
    });
      $('#veh-cancel-btn').hide();
    $("#veh-edit-btn").text('Edit');
    }
    else{
      $(".vd_form input").each(function(){
      $(this).attr('readonly',false);
    });
    $('#veh-cancel-btn').show();
    $("#veh-edit-btn").text('Save');

    }
  });
  // $(".view_mode input").attr("href", "{% static 'js/jquery-3.6.0.js' %}");
  document.getElementByClassName("view_mode").disabled = true;
});


    if ('{{transit_pass_exist}}' == 'True'){
        $('.couldapprove').hide( );
        // $("#reason").hide();
    }
    var frm = $('#contactForm1');
    // $('.couldapprove').click(function(){
</script>
</html>
